* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.vnkings_header {
    background: #f1f1f1 none repeat scroll 0 0;
}
.vnkings_logo {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.vnkings_logo > a {
    display: block;
    padding: 10px 0;
}
.nav_menu {
    background: #34495e none repeat scroll 0 0;
    display: block;
    float: left;
    width: 100%;
}
.nav_menu.fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ul.menu_head {
    display: block;
    list-style: outside none none;
    margin: 0 auto;
    width: 80%;
}
body {
    font-family: arial;
    font-size: 13px;
}
.menu_head li {
    display: inline-block;
    float: left;
}
.menu_head h2 a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
}
.menu_head h2 a:hover {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}
.vnkings_main {
    background:url("../images/vnkbg.png") repeat scroll 0 0;
    display: block;
    float: left;
    min-height: 900px;
    width: 100%;
}
.content {
    display: block;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

.vnkings_footer > p {
    background: ButtonShadow;
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
}
.vnkings_footer {
    display: block;
    float: left;
    width: 100%;
}
.vnkings_footer a {
    color: #222;
}

